<a href="https://colab.research.google.com/github/Appendme/big_data_analysis/blob/master/Lab_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [12]:
df = pd.read_csv('samples/stores-dist.txt')
df.head()

   district  annual net sales  number of stores in district
0         1             231.0                            12
1         2             156.0                            13
2         3              10.0                            16
3         4             519.0                             2
4         5             437.0                             6

In [13]:
df.isnull().sum()

district                        0
annual net sales                0
number of stores in district    0
dtype: int64

In [14]:
df.rename(columns = {'annual net sales':'sales','number of stores in district':'stores'}, inplace = True)
df.drop('district', axis = 1, inplace = True)
df.head()

   sales  stores
0  231.0      12
1  156.0      13
2   10.0      16
3  519.0       2
4  437.0       6

In [15]:
x = df.stores
y = df.sales

In [16]:
order = 1
p = np.poly1d(np.polyfit(x, y ,order))

print('The array p(x) stores the calculated y value from the polynomial model for each x value,\n\n{}.'.format(p(x)))
print('\nThe vector of coefficients p describes this regression model:\n{}'.format(p))
print('\nThe zeroth order term (y-intercept or b) is stored in p[0]: {}.'.format(p[0]))
print('\nThe first order term (slope or m) is stored in p[1]: {}.'.format(p[1]))

The array p(x) stores the calculated y value from the polynomial model for each x value,

[169.93468442 134.14759895  26.78634257 527.80553905 384.65719719
 420.44428266 205.72176988 134.14759895  26.78634257 277.29594081
 527.80553905 313.08302627 456.23136812  62.57342803 169.93468442
 205.72176988 420.44428266  98.36051349 313.08302627 527.80553905
 563.59262451  62.57342803 134.14759895 348.87011173 384.65719719
 563.59262451 277.29594081].

The vector of coefficients p describes this regression model:

-35.79 x + 599.4

The zeroth order term (y-intercept or b) is stored in p[0]: 599.3797099726614.

The first order term (slope or m) is stored in p[1]: -35.787085462974005.

In [17]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

print(f'r2_score = {r2_score(y, p(x))}\nmean_squared_error = {mean_squared_error(y, p(x))}\nmean_absolute_error = {mean_absolute_error(y, p(x))}')

r2_score = 0.83217523508888
mean_squared_error = 5961.386465941158
mean_absolute_error = 61.2232611786873

In [ ]:
print("Выполнил Коновалов С.В.")